# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.~1~
*.~dsk
*.local
*.stat
*.dsk
*.#00
*.obj
*.#01
*.astcache
*.astinfo
*.pch
*.pch
*.tds
*.pdi
Demo/Win32/Debug/PhotonDemo.exe
*.ilc
*.ild
*.#02
photon/__recovery/FImage.cpp
*.map
photon/__recovery/FImage.h
*.ilf
photon/__recovery/__recovery.ini
*.ils
*.#03
*.#04
*.#05
*.#06
*.~2~
*.~3~
*.~*
OCRDemo/Win32/
OCRDemo/__recovery/
Demo/__recovery/__recovery.ini
Demo/Win32/Release/PhotonDemo.exe
tiff-4.0.9.zip
apps/bin/Blood41.exe
apps/bin/CeramClient.exe
apps/bin/Ceramica.exe
apps/bin/pgf_wrapper.dll
apps/bin/tmp.jpg
apps/ceramica/pgf_wrapper.dll
apps/ceramica/pgf_wrapper.lib
photon/prografix/wrapper/pgf_wrapper/pgf_wrapper.v12.suo
photon/prografix/wrapper/pgf_wrapper/pgf_wrapper.sdf
photon/prografix/wrapper/pgf_wrapper/pgf_wrapper.vcxproj.filters
photon/prografix/wrapper/pgf_wrapper/pgf_wrapper.vcxproj.user
